@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
}

@layer base {
    body {
        @apply bg-[#f9f9f9] text-[#2f2f2f];
    }
}
